#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.logo {
  color: #fff !important;
  text-align: center;
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
  visibility: hidden;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.ant-picker-dropdown {
  z-index: 9999 !important;
}


.sidebar {
  height: 100vh;
}

.navbar {
  background-color: white;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 60px;
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .navbar {
    display: none;
  }
}

.logo {
  height: 60px;
  margin-left: 1rem;
}


.ant-drawer-body {
  background-color: #001528;
}





